on: [push, pull_request]
name: Test
jobs:
  test:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--replace"
          skip-commit: true
#          version: v1.28.0
      - name: Print diffs
        run: git --no-pager diff --exit-code
